.slider,
.trending-list{
  display:flex;
  gap:14px;
  overflow-x:auto;
  padding:0 16px 6px;
}
.slider::-webkit-scrollbar,
.trending-list::-webkit-scrollbar{display:none}

/* CARD */
.card{
  min-width:260px;
  height:180px;
  border-radius:16px;
  overflow:hidden;
  position:relative;
  box-shadow:0 10px 30px rgba(0,0,0,.6);
  flex-shrink:0;
  cursor:pointer;
}

.card.small{
  min-width:180px;
  height:120px;
}

.card img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.overlay{
  position:absolute;
  inset:0;
  display:flex;
  align-items:flex-end;
  padding:12px;
  background:linear-gradient(to top,rgba(0,0,0,.9),transparent 65%);
}

.title{
  font-size:14px;
  font-weight:700;
}

.genre{
  font-size:11px;
  opacity:.75;
}

/* LIST */
.list-card{
  display:flex;
  gap:14px;
  padding:14px 16px;
  cursor:pointer;
}

.list-card img{
  width:80px;
  height:100px;
  border-radius:10px;
  object-fit:cover;
}